<!DOCTYPE html>
<html>
  <head>
    <title>Chat-Space</title>
    <link rel="stylesheets" type="text/css" media="all">
  </head>

  <body>

    <div class="box">

    <div class="chat-side">

        <div class="side-header">
          <div class="side-header_box">
            <div class="side-header_box_user-name">
              しんしんproto
            </div>

          </div>
        </div>

      <div class="groups">
        <div class="groups_box">
          <div class="groups_name">
            新しいチャット
          </div>
          <div class="side-header_box_latest-massage">
              やっほー！！元気？
          </div>
        </div>
      </div>
    </div>

      <div class="chat-main">

        <div class="main-header">
          <div class="left-box">
            <div class="chat-name">
              新しいチャット
            </div>
            <div class="member-list">
              Member : しんしんproto
            </div>
          </div>
           <div class="right-box">
            <input type="submit" name="commit" value="Edit" class="edit-button">
           </div>
         </div>

      <div class="message">
        <div class="messages">
          <div class="message-user">
            <div class="message-user_name">
              しんしんproto
            </div>
            <div class="message-user_date">
              2019/04/01(Mon) 12:00
            </div>
          </div>
          <div class="message-text">
            やっほー！！元気？
          </div>
        </div>
      </div>

        <div class="form">
          <form class="new-message" id="new-message">
          <div class="input-box">
            <input placeholder="type a message" class="input-box" type="text" name="message" id="new-message">
          </div>
          <input type="submit" name="commit" value="Send" class="submit-button">
        </form>
        </div>

      </div>

    </div>

  </body>

</html>
